{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Post Detail</title>
        <link rel="stylesheet" href="{% static 'post/detail_post.css' %}?v={% now 'YmdHis' %}">
    </head>

    <body>
        <nav class="top_bar" id="main-banner">
        <div class="banner-top">
            <h3 class="title">
                <a href= "{% url 'forum-main' %}"><img src="{% static 'post/images/exit.png' %}" alt="Exit" style="width: 20px; height: 20px"></a>
                 {{ post.title }} 
            </h3>
            
            <div class="register">
                <a href= "{% url 'forum-home' %}" class="register-icon" onclick="return confirm('Are you sure you want to log out?')"><img src="{% static 'post/images/logout.png' %}" alt="Log out" style="width: 28px; height: 28px; padding:20px"></a>
                <span><a href= "{% url 'submit-feedback' %}" class="register-icon"><img src="{% static 'post/images/feedback.png' %}" alt="Send feedback" style="width: 28px; height: 28px"></a></span>
            </div>
        </div>

        <nav class="category-bar">
            <button><a href= "/main/forum/Faculty of Computing & Informatics (FCI)">FCI</a></button>
            <button><a href= "/main/forum/Faculty of Creative Multimedia (FCM)">FCM</a></button>
            <button><a href= "/main/forum/Faculty of Management (FOM)">FOM</a></button>
            <button><a href= "/main/forum/Faculty of Cinematic Arts (FCA)">FCA</a></button>
            <button><a href= "/main/forum/Faculty of Applied Communication (FAC)">FAC</a></button>
            <button><a href= "/main/forum/Faculty of AI & Engineering (FAIE)">FAIE</a></button>
            <button><a href= "/main/forum/Faculty of Law (FOL)">FOL</a></button>
            <button><a href= "/main/forum/Faculty of Business (FOB)">FOB</a></button>
        </nav>
    </nav>

    <div class="sidebar">
        <div class="sidebar-menu">
            <a href="{% url 'forum-main' %}" class="sidebar-icon">
                <img src="{% static 'post/images/home.png' %}" alt="Home">
            </a>
            {% if user.is_authenticated and user.username %}
                <a href="{% url 'view-profile' user.username %}" class="sidebar-icon">
                    <img src="{% static 'post/images/user.png' %}" alt="Profile">
                </a>
            {% else %}
                <a href="{% url 'forum-login' %}" class="sidebar-icon">
                    <img src="{% static 'post/images/user.png' %}" alt="Profile">
                </a>
            {% endif %}
            <a href="{% url 'user-notifications' %}" class="sidebar-icon">
                <img src="{% static 'post/images/bell.png' %}" alt="Notification">
            </a>
            <a href="{% url 'post-create' %}" class="sidebar-icon">
                <img src="{% static 'post/images/add.png' %}" alt="Create">
            </a>
        </div>
    </div>

    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}


<article class="content-section">
    <div>
        {% if post.author == user or user.is_staff %}
            <button type="submit"><a href = "{% url 'post-update' post.pk %}" > Edit Post </a></button><br><br>
            <button type="button"><a href = "{% url 'post-delete' post.pk %}" > Delete Post </a></button>
        {% endif %}
    </div>

    <div class="post-header">
        <h1>{{ post.title }}</h1>
        <h2>By {{ post.author }}</h2>
        <p>Category: {{ post.category }}</p>
        <small class="text-muted">Posted on: {{ post.date_posted|date:"F d, Y" }}</small>
        </div>

        <div class="post-content">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid mb-3">
            {% endif %}

            {% if post.pdf %}
                <p><a href="{{ post.pdf.url }}" target="_blank">View PDF</a></p>
            {% endif %}

            {% if post.video_file %}
                <video width="320" height="240" controls>
                    <source src="{{ post.video_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
        </div>

                    <form method="post" action="{% url 'like_post' post.id %}">
                    {% csrf_token %}
                        <button type="submit">Like ({{ post.likes_count }})</button>
                    </form>

                    {% if user.is_authenticated and user != post.author %}
                    <div>
                        <span>
                            <button type="submit"><a href="{% url 'report-post' post.id %}" >Report</a></button>
                        </span>
                    </div>
                    {% endif %}

                        <div>
                        <h4>Comment ({{ post.comments.count }})</h4>
                
                        {% for comment in post.comments.all %}
                        <div>
                            <strong>{{ comment.user.username }}:</strong>
                            <span>{{ comment.text }}</span>
                            <small>{{ comment.created_at }}</small>
                        </div>
                {% empty %}
                    <p>No comment.</p>
                {% endfor %}

                {% if user.is_authenticated %}
                <form method="post" action="{% url 'add-comment' post.id %}">
                    {% csrf_token %}
                    <input type="text" name="content" placeholder="Write comment..." required>
                    <button type="submit">Submit</button>
                </form>
                {% endif %}
        
        <a href = "{% url 'forum-main' %}" > Back to Forum </a><hr>

</article>
</html>