<html>
    <head>
        <title>dummy-main</title>
    </head>
    <body>
        <p>
            <a href= " {% url 'forum-main' %} ">Main</a>
            <a href= "/main/forum/Management">Management</a>
            <a href= "/main/forum/Computing">Computing</a>
        </p>
        <hr>
        <p>
            <a href= "{% url 'post-create' %}">Create Post</a>
        </p>

        {% for post in posts %}
        <div>
            <p>Title: {{ post.title }}</p>
            <p>Author: {{ post.author }}</p>
            <p>Major: {{ post.author.user.profile.major.major_name }}</p>
            <p>Content: {{ post.content }}</p>

            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image" style="max-width: 200px; max-height: 200px;">
            {% endif %}
        </div>
        {% empty %}
            <p>No posts.</p>
        {% endfor %}
    </body>
</html>