<!DOCTYPE html>
<html>
<body>
    <h1>Like post</h1>
    
    <div class="post-info">
        <h3>{{ post.title }}</h3>
        <p>Author: {{ post.author.username }}</p>
        <p>Current like count: {{ likes_count }}</p>
    </div>
    
    <form method="post">
        {% csrf_token %}
        {% if user_liked %}
            <input type="hidden" name="action" value="unlike">
            <button type="submit" class="button btn-unlike">Dislike</button>
        {% else %}
            <input type="hidden" name="action" value="like">
            <button type="submit" class="button btn-like">Like</button>
        {% endif %}
        
    </form>
</body>