{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <title>MMU Study Forum</title>
    </head>

<body>
    <div id="welcome" class="modal">
        <div class="modal_content">
            <p>Welcome, {{user.username}} !</p>
            <span class="close" onclick="closeModal()">Start journey</span>
        </div>
    </div>
    
    <div class="top_bar">
        <div class="title">
            <h1>MMU Study Forum</h1>
        </div>
        <form class="search_bar">
            <link rel="icon" type="images/png" href="{% static 'post/images/search.png' %}">
            <input type="text" name="fquestion" placeholder="Finding something?"><br>
        </form>
        <div class="register">
            <button type="button "class="log_out"><a href= "{% url 'forum-home' %}" onclick="return confirm('Are you sure you want to log out?')">LOG OUT</a></button>
            <span><button type="button" class="feedback"><a href= "{% url 'submit-feedback' %}">SEND FEEDBACK</a></button></span>
        </div>
    </div>

    <nav class="category">
        <button><a href= "/main/forum/Faculty of Computing & Informatics (FCI)">FCI</a></button>
        <button><a href= "/main/forum/Faculty of Creative Multimedia (FCM)">FCM</a></button>
        <button><a href= "/main/forum/Faculty of Management (FOM)">FOM</a></button>
        <button><a href= "/main/forum/Faculty of Cinematic Arts (FCA)">FCA</a></button>
        <button><a href= "/main/forum/Faculty of Applied Communication (FAC)">FAC</a></button>
        <button><a href= "/main/forum/Faculty of AI & Engineering (FAIE)">FAIE</a></button>
        <button><a href= "/main/forum/Faculty of Law (FOL)">FOL</a></button>
        <button><a href= "/main/forum/Faculty of Business (FOB)">FOB</a></button>
    </nav>

    <nav class="features">
        <a href="{% url 'forum-main' %}"><img src="{% static 'post/mainpage-icon/home.png' %}" alt="Home"></a>
        {% if user.is_authenticated and user.username %}
            <a href="{% url 'view-profile' user.username %}"><img src="{% static 'post/mainpage-icon/user.png' %}" alt="Profile"></a>
        {% else %}
            <a href="{% url 'login' %}"><img src="{% static 'post/mainpage-icon/user.png' %}" alt="Profile"></a>
        {% endif %}
        <!--
        <a href="notification.html"><img src="{% static 'post/mainpage-icon/bell.png' %}" alt="Notification"></a>
        <a href="favourite.html"><img src="{% static 'post/mainpage-icon/heart.png' %}" alt="Favourite"></a>
    -->
        <a href="{% url 'post-create' %}"><img src="{% static 'post/mainpage-icon/add.png' %}" alt="Create"></a>
    </nav>

    <div class="post">
        {% if posts %}
            {% for post in posts %}
                <div id="post-{{ post.id}}">
                    <p><strong>Title:</strong><a href="{% url 'post-detail' post.pk %}"> {{ post.title }} </a></p>
                    <p><strong>Author:</strong> {{ post.author.username }}</p>
                    <p><strong>Major:</strong> 
                        {% if post.author.user_profile and post.author.user_profile.major %}
                            {{ post.author.user_profile.major.major_name }}
                        {% else %}
                            Not specified
                        {% endif %}
                    </p>
                    <p><strong>Content:</strong> {{ post.content }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Post Image" style="max-width: 200px;">
                    {% endif %}

                    {% if post.pdf %}
                        <p><a href="{{ post.pdf.url }}" target="_blank">View PDF</a></p>
                    {% endif %}

                    {% if post.video_file %}
                        <video width="320" height="240" controls>
                            <source src="{{ post.video_file.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% endif %}

                    <div>
                        {% if user == post.author %}
                            <div>
                                <a href="{% url 'post-update' post.pk %}">
                                <button type="button">Edit</button>
                                </a>
                            </div>
                        {% endif %}
                    </div>

                    <form method="post" action="{% url 'like_post' post.id %}">
                        {% csrf_token %}
                        <button type="submit">Like ({{ post.likes_count }})</button>
                    </form>

                    {% if user.is_authenticated and user != post.author %}
                    <div>
                        <a href="{% url 'report-post' post.id %}" >Report</a>
                    </div>
                    {% endif %}

                        <h4>Comment ({{ post.comments.count }})</h4>
                
                        {% for comment in post.comments.all %}
                        <div>
                            <strong>{{ comment.user.username }}:</strong>
                            <span>{{ comment.text }}</span>
                            <small>{{ comment.created_at }}</small>
                        </div>
                        {% empty %}
                            <p>No comment.</p>
                        {% endfor %}

                        {% if user.is_authenticated %}
                        <form method="post" action="{% url 'add-comment' post.id %}">
                            {% csrf_token %}
                            <input type="text" name="content" placeholder="Write comment..." required>
                            <button type="submit">Submit</button>
                        </form>
                        {% endif %}
                </div>
                <hr>
            {% empty %}
                <p>No posts now. Share your questions!</p>
            {% endfor %}
        {% else %}
            <p>No posts now. Share your questions!</p>
        {% endif %}
    </div>

<script>

    window.onload = function() {
        document.getElementById('welcome').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('welcome').style.display = 'none';
    }

</script>
</body>
</html>