{% load static %}
<html>
    <head>
        <title>{{ major_name }} Forum</title>
        <link rel="stylesheet" href="{% static 'post/major_forum.css' %}">
    </head>
    <body>
        <nav class="top_bar" id="main-banner">
            <div class="banner-top">
                <h1>{{ major_name }} Forum</h1>
        
                <div class="search-bar">
                    <form method="get" action="{% url 'forum-main' %}">
                        <div class="search-wrapper">
                            <select name="search_type" class="search-type-select">
                                <option value="posts" {% if search_type == 'posts' %}selected{% endif %}>Post</option>
                                <option value="users" {% if search_type == 'users' %}selected{% endif %}>User</option>
                            </select>
                            <input type="text" name="q" placeholder="Finding something?" value="{{ search_query|default:'' }}"><br>
                            <span>
                                <button type="submit"><img src="{% static 'post/images/search.png' %}" alt="Search" style="width:30px; height:30px"></button>
                            </span>
                        </div>
                    </form>

                    {% if search_query %}
                    <div class="search-info">
                        <p>Search "{{ search_query }}" result：found 
                            {% if search_type == 'users' %}
                                {{ users|length }}
                            {% else %}
                                {% if total_results %}
                                    {{ total_results }}
                                {% else %}
                                    {{ posts|length }}
                                {% endif %}
                            {% endif %}
                        </p>
                        <a href="{% url 'forum-main' %}">Clear</a>
                    </div>
                    {% endif %}
                    </div>

                <div class="register">
                    <button type="button "class="log_out"><a href= "{% url 'forum-home' %}" onclick="return confirm('Are you sure you want to log out?')">LOG OUT</a></button>
                    <span><button type="button" class="feedback"><a href= "{% url 'submit-feedback' %}">SEND FEEDBACK</a></button></span>
                </div>
            </div>

            <nav class="category-bar">
                <button><a href= "/main/forum/Faculty of Computing & Informatics (FCI)">FCI</a></button>
                <button><a href= "/main/forum/Faculty of Creative Multimedia (FCM)">FCM</a></button>
                <button><a href= "/main/forum/Faculty of Management (FOM)">FOM</a></button>
                <button><a href= "/main/forum/Faculty of Cinematic Arts (FCA)">FCA</a></button>
                <button><a href= "/main/forum/Faculty of Applied Communication (FAC)">FAC</a></button>
                <button><a href= "/main/forum/Faculty of AI & Engineering (FAIE)">FAIE</a></button>
                <button><a href= "/main/forum/Faculty of Law (FOL)">FOL</a></button>
                <button><a href= "/main/forum/Faculty of Business (FOB)">FOB</a></button>
            </nav>
        </nav>
        
        {% for post in posts %}
        <div>
            
            <p>Title:<a href="{% url 'post-detail' post.pk %}"> {{ post.title }} </a></p>
            <p>Author: {{ post.author }}</p>
            <p>Major: {{ post.author.user_profile.major.major_name }}</p>
            <p>Content: {{ post.content }}</p>

            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image" style="max-width: 200px; max-height: 200px;">
            {% endif %}

            <form method="post" action="{% url 'like_post' post.id %}">
                {% csrf_token %}
                <button type="submit">Like ({{ post.likes_count }})</button>
            </form>

            {% if user.is_authenticated and user != post.author %}
                <div>
                    <span>
                        <button type="submit"><a href="{% url 'report-post' post.id %}" >Report</a></button>
                    </span>
                </div>
            {% endif %}

            <div>
                <h4>Comment ({{ post.comments.count }})</h4>
                
                {% for comment in post.comments.all %}
                <div>
                    <strong>{{ comment.user.username }}:</strong>
                    <span>{{ comment.text }}</span>
                    <small>{{ comment.created_at }}</small>
                </div>
                {% empty %}
                    <p>No comment.</p>
                {% endfor %}

                {% if user.is_authenticated %}
                <form method="post" action="{% url 'add-comment' post.id %}">
                    {% csrf_token %}
                    <input type="text" name="content" placeholder="Write comment..." required>
                    <button type="submit">Submit</button>
                </form>
                {% endif %}

                <hr>
            </div>
        </div>
        
        {% empty %}
            <p>No posts.</p>
        {% endfor %}
        <a href= "{% url 'forum-main' %}">Back to Main</a>
</html>