{% load crispy_forms_tags %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'post/report.css' %}?v={% now 'YmdHis' %}">
    </head>
<body>
    <div class="container">
        <div class="header">
            <a href= "javascript:history.back()"><img src="{% static 'post/images/exit.png' %}" alt="Exit" style="width: 20px; height: 20px"></a>
            Report Comment
            <div class="register">
                <a href= "{% url 'forum-home' %}" class="register-icon" onclick="return confirm('Are you sure you want to log out?')"><img src="{% static 'post/images/logout.png' %}" alt="Log out" style="width: 28px; height: 28px; padding:20px"></a>
                <span><a href= "{% url 'submit-feedback' %}" class="register-icon"><img src="{% static 'post/images/feedback.png' %}" alt="Send feedback" style="width: 28px; height: 28px"></a></span>
            </div>
        </div>

        <div class="sidebar">
            <div class="sidebar-menu">
                <a href="{% url 'forum-main' %}" class="sidebar-icon">
                    <img src="{% static 'post/images/home.png' %}" alt="Home">
                </a>
                {% if user.is_authenticated and user.username %}
                    <a href="{% url 'view-profile' user.username %}" class="sidebar-icon">
                        <img src="{% static 'post/images/user.png' %}" alt="Profile">
                    </a>
                {% else %}
                    <a href="{% url 'forum-login' %}" class="sidebar-icon">
                        <img src="{% static 'post/images/user.png' %}" alt="Profile">
                    </a>
                {% endif %}
                <a href="{% url 'user-notifications' %}" class="sidebar-icon">
                    <img src="{% static 'post/images/bell.png' %}" alt="Notification">
                </a>
                <a href="{% url 'post-create' %}" class="sidebar-icon">
                    <img src="{% static 'post/images/add.png' %}" alt="Create">
                </a>
                <a href="{% url 'view-report' %}" class="sidebar-icon">
                    <img src="{% static 'post/images/report.png' %}" alt="Create">
                </a>
            </div>
        </div>
    </div>

    <div class="report-form-card">
        <div class="form-title">Report Details</div>
            <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
                
            <div class="button-group">
                <button type="submit" class="btn-submit">Submit Report</button>
                <a href="javascripts:history.back()" class="btn-cancel">Cancel</a>
            </div>
            </form>
        </div>
    
</body>
</html>
