{% load crispy_forms_tags %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'post/report_comment.css' %}?v={% now 'YmdHis' %}">
    </head>
<body>
    <div class="container">
        <div class="header">
            <p><a href="{% url 'forum-main' %}">--back to mainpage</a></p>
            <h1>Report Comment</h1>
        </div>
    </div>

    <div class="comment-preview">
        <h3>{{ reported_post.title }}</h3>
        <div class="comment-meta">
            <strong>Comment by</strong> {{ comment.user.username }} |
            <strong>On post:</strong><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a> |
            <strong>Posted:</strong> {{ reported_post.date_posted|date:"Y-m-d H:i" }}
        </div>
        <p>{{ comment.text|linebreaks }}</p>
    </div>

    <div class="report-form-card">
        <div class="form-title">Report Details</div>
            <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
                
            <div class="button-group">
                <button type="submit" class="btn-submit">Submit Report</button>
                <a href="javascripts:history.back()" class="btn-cancel">Cancel</a>
            </div>
            </form>
        </div>
    
</body>
</html>
