{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'post/update_post.css' %}?v={% now 'YmdHis' %}">
</head>

<body>
    <div class="container">
        <div class="header">
            <a href= "javascript:history.back()">
                <img src="{% static 'post/images/exit.png' %}" alt="Exit" style="width: 20px; height: 20px">
            </a>
            Update Post
            <div class="register">
                <a href= "{% url 'forum-home' %}" class="register-icon" onclick="return confirm('Are you sure you want to log out?')"><img src="{% static 'post/images/logout.png' %}" alt="Log out" style="width: 28px; height: 28px; padding:20px"></a>
                <span><a href= "{% url 'submit-feedback' %}" class="register-icon"><img src="{% static 'post/images/feedback.png' %}" alt="Send feedback" style="width: 28px; height: 28px"></a></span>
            </div>
        </div>

        <div class="sidebar">
            <div class="sidebar-menu">
                <a href="{% url 'forum-main' %}" class="sidebar-icon">
                    <img src="{% static 'post/images/home.png' %}" alt="Home">
                </a>
                {% if user.is_authenticated and user.username %}
                    <a href="{% url 'view-profile' user.username %}" class="sidebar-icon">
                        <img src="{% static 'post/images/user.png' %}" alt="Profile">
                    </a>
                {% else %}
                    <a href="{% url 'forum-login' %}" class="sidebar-icon">
                        <img src="{% static 'post/images/user.png' %}" alt="Profile">
                    </a>
                {% endif %}
                <a href="{% url 'user-notifications' %}" class="sidebar-icon">
                    <img src="{% static 'post/images/bell.png' %}" alt="Notification">
                </a>
                <a href="{% url 'post-create' %}" class="sidebar-icon">
                    <img src="{% static 'post/images/add.png' %}" alt="Create">
                </a>
                <a href="{% url 'view-report' %}" class="sidebar-icon">
                    <img src="{% static 'post/images/report.png' %}" alt="Create">
                </a>
            </div>
        </div>
    </div>

    <div class="post-form-card">
        <div class="post-form-title">Post Detail</div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn-submit" type="submit">Update Post</button>
        </form>
    </div>

</body>