{% extends 'base.html' %}
{% load crispy_forms_tags %}

<html>
    {% block content %}
    <div>
    <h4 class="mb-0">Replying to: {{ report.subject }}</h4>
    <h6><strong>From:</strong> {{ report.user.username }}</h6>
        <h6><strong>Student Message:</strong></h6>
        <p class="mb-0">{{ report.message }}</p>
    </div>
    <hr>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Save Reply </button>
        </form>
    </div>



</html>
