
{% load crispy_forms_tags %}
{% load static %}
<html>
{%block content%}
<head>
  <title>Create Profile</title>
    <link rel="stylesheet" href="{% static 'user/profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Calistoga&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wdth@0,112.5;1,112.5&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  
    <h2 class="profile-title">Create your profile</h2>
    <form class="form-group" method="POST" enctype="multipart/form-data" >
        {% csrf_token%}
        <p class="username"><span class="form-label">Username :</span> {{user.username}}</p>
        <p class="email"><span class="form-label">Email :</span> {{user.email}} </p>
        {% crispy form %}
    </form>
  </body>
  {% endblock content %}
  </html>