{% extends "home/base.html" %}
{% load static %}
{%load crispy_forms_tags%}
<html>
    {% block content %}
    <head>
        
        <link rel="icon" type="image/png" href="website-logo.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
       <div class="sign-up">
        <div class="info">
            <form method="POST" action="{url 'forum-signup'}">
                {%csrf_token%}
             <fieldset class="form-group">
                <legend>Sign Up</legend>
                <div class="align-col">
                {{form|crispy}}
                </div>
             </fieldset>
            </form>
        </div>
        <div class="button">
            <button class="log-in" ><a href= "{% url 'forum-login' %}">Back to Log In</a></button>
            <button class="register" name="CreateUser" type="submit">Register <i class="material-icons" id="arrow-icon">arrow_forward</i></button>           
        </div>
       </div>
      
    </body> 
    
    <!--<form>{% csrf_token %}</form>-->

        <!--pop up message for sucessful signup/login-->

    <!--
    { if message in messages }
            { for message in messages }
                _alert/pop up message_
                <div>
                    _(name a class) for this alert message -{{ message.tag }}_
                    {{ message }}
                </div>
            { end for }
        { end if }    
    -->    
        
    {% endblock content %}
    </html>