<div>
    <h2>My Profile</h2>
    <img src="{{ view_profile.profile_picture.url }}" alt="Profile Picture" style="max-width: 200px; max-height: 200px;">
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Faculty: {{ view_profile.major.major_name }}</p>
    <p>Bio: {{ view_profile.bio }}</p>
</div>
<hr>
<div>
    <h2><i>My Posts</i></h2>
    {% for post in posts %}
    <div>
        <p>Title: {{ post.title }}</p>
        <p>Author: {{ post.author }}</p>
        <p>Major: {{ post.author.user_profile.major.major_name }}</p>
        <p>Content: {{ post.content }}</p>  

