{% load static %}
<html> 
    {% block content %}
    <head>
        <title>My Profile</title>
        <link rel="stylesheet" href="{% static 'user/view_profile.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Boldonse&family=Calistoga&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wdth@0,112.5;1,112.5&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    </head>
    <body>


<div class="profile-ctn">
    <h2 class="profile-title">My Profile</h2>
    <img src="{{ view_profile.profile_picture.url }}" alt="Profile Picture" class="profile-pic">
    <p><span class="profile-label">Username:</span> {{ view_profile.user.username }}</p>
    <p><span class="profile-label">Email:</span> {{ user.email }}</p>
    <p><span class="profile-label">Faculty:</span> {{ view_profile.major.major_name }}</p>
    <p><span class="profile-label">Bio:</span> {{ view_profile.bio }}</p>
</div>
<hr>
<div class="post-ctn">
    <h2 class="profile-title">My Posts</h2>
    <p>Total Posts: {{ user_posts_count }}</p>
    {% for post in user_posts %}
</div>
    <div class="post-block">
       
        <p>Title: {{ post.title }}</p>
        <p>Author: {{ post.author }}</p>
        <p>Major: {{ post.author.user_profile.major.major_name }}</p>
        <p>Content: {{ post.content }}</p>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="Post Image" style="max-width: 200px; max-height: 200px;">
        {% endif %}

        {% if post.pdf %}
            <p><a href="{{ post.pdf.url }}" target="_blank">View PDF</a></p>
        {% endif %}

        {% if post.video_file %}
            <video width="320" height="240" controls>
                <source src="{{ post.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% endif %} 
         <form method="post" action="{% url 'like_post' post.id %}" class="like-form" data-post-id="{{ post.id }}">
            {% csrf_token %}
            <button type="button" class="action-buttons like-post">
            {% if user in post.likes.all %}
            <i class="fas fa-heart" style="color: #e74c3c;"></i>
            {% else %}
            <i class="far fa-heart"></i>
            {% endif %}
            <span class="likes-count">{{ post.likes.count }}</span>
            </button>
            </form>

            {% if user.is_authenticated and user != post.author %}
                    <div>
                        <span>
                            <button type="submit"><a href="{% url 'report-post' post.id %}" >Report</a></button>
                        </span>
                    </div>
            {% endif %}

            <h4>Comment ({{ post.comments.count }})</h4>

                    {% for comment in post.comments.all %}
                        {% if not comment.parent_comment %}
                                <div class="comment-block" style="margin-bottom: 20px;">
                                    <strong>{{ comment.user.username }}:</strong>
                                    <span>{{ comment.text }}</span>
                                    <small style="color: gray;">{{ comment.created_at|timesince }} ago</small>

                                    <a href="{% url 'like-comment' comment.id %}" style="text-decoration: none; color: inherit;">
                        {% if user in comment.likes_count.all %}
                                            <span style="color: red;">❤️</span>({{ comment.likes_count.count }})
                        {% else %}
                                            <span>🤍</span>({{ comment.likes_count.count }})
                        {% endif %}
                                    </a>

                                    <a href="javascript:void(0)" onclick="toggleReplyForm('{{ comment.id }}')" style="text-decoration: underline;">Reply</a>

                                    <div style="margin-left: 40px; border-left: 2px solid #eee; padding-left: 10px; margin-top: 10px;">
                                        {% for reply in comment.replies.all %}
                                            <div style="margin-bottom: 10px;">
                                                <strong>{{ reply.user.username }}:</strong>
                                                <span>{{ reply.text }}</span>
                                                <small style="color: gray;">{{ reply.created_at|timesince }} ago</small>
                        
                                                <a href="{% url 'like-comment' reply.id %}" style="text-decoration: none; color: inherit;">
                                                    {% if user in reply.likes_count.all %}
                                                        <span style="color: red;">❤️</span>({{ reply.likes_count.count }})
                                                    {% else %}
                                                        <span>🤍</span>({{ reply.likes_count.count }})
                                                    {% endif %}
                                                </a>
                                                <a href="javascript:void(0)" onclick="toggleReplyForm('{{ comment.id }}')" style="text-decoration: underline; font-size: 0.9em;">Reply</a>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div id="reply-form-{{ comment.id }}" style="display:none; margin-left: 30px; margin-top: 10px;">
                                        <form method="post" action="{% url 'add-comment' post.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                            <input type="text" name="content" placeholder="Reply to {{comment.user.username}} ..." required>
                                            <button type="submit">Submit</button>
                                            <button type="button" onclick="this.parentElement.style.display='none'">Cancel</button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %} 
                        {% empty %}
                            <p>No comment.</p>
                        {% endfor %}
                         {% if user.is_authenticated %}
                            <form method="post" action="{% url 'add-comment' post.id %}">
                                {% csrf_token %}
                                <input type="text" name="content" placeholder="Write comment..." required>
                                <button type="submit">Submit</button>
                            </form>
                        {% endif %}
        <div>
        {% if post.author == user or user.is_staff %}
            <button type="submit"><a href = "{% url 'post-update' post.pk %}" > Edit Post </a></button><br><br>
            <button type="button"><a href = "{% url 'post-delete' post.pk %}" > Delete Post </a></button>
        {% endif %}

        <hr>
    </div>
 </div>
    {% empty %}
        <p class="profile-label">No posts.</p>
    {% endfor %}


<button><a href="{% url 'favourite-posts' %}">My Favorite Posts</a></button>
<button><a href="{% url 'forum-main' %}">Back to Home</a></button>
<button><a href="{% url 'edit-profile' %}">Edit Profile</a></button>
<button><a href="{% url 'delete-profile' %}">Delete Profile</a></button>

</body>
{% endblock content %}
</html>
