
body{

     margin: 0;
    padding: 0;
  background-color: #FFFDF7;
}
.form-text, .help-block, .text-muted {
    font-size: 0.9rem !important; 
    color: #353535 !important;   
    margin-top: 7px !important; 
     line-height: 1.4 !important;
     text-align: left !important;
     margin-left: 10% !important;
}
.error-message {
    color: rgb(194,5,5) !important;
    font-weight: bold;
      font-size: 0.9rem !important; 
}

.alert-danger, 
.non-field-errors,
.errorlist.nonfield li {
    color: rgb(194,5,5) !important;
    font-weight: bold;
      font-size: 0.9rem !important; 
}
.errorlist.nonfield li {
    color:rgb(194,5,5) !important;
    font-weight: bold;
      font-size: 0.9rem !important; 
}

.errorlist li {
    color: rgb(194,5,5) !important;
    font-weight: bold;
      font-size: 0.9rem !important; 
}
.errorlist, .invalid-feedback strong {
    color: rgb(194, 5, 5) !important;
    font-weight: bold;
    font-size: 0.9rem !important;
    
}
.form-container{
   width:400px;
   height:450px;
   display:grid;
   text-align: center;
   border-radius: 50px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   box-shadow:0px 0px 6px rgb(235, 235, 235);
   border: none;
   background-color:#D1DAD0;
   animation-name: slideUp;
   animation-duration: 1.30s;
   overflow:hidden;
  
}

.input-icon-wrapper {
    position: relative;
}
.input-icon-wrapper .field-icon{
    position: absolute;
    left: 3%;           
    top: 40%;
    color: #225328;       
    font-size: 1.3rem;
    z-index: 9999 !important;        
    pointer-events: none; 
    margin-top: -0.65rem;
    transform: none !important;
}
.password1 .field-icon {
    margin-top: -40px; 
    transform: none !important;
   
}
.log-in-btn{
    cursor:pointer;
    border:none;
    font-weight: bold;
    display:inline-block;
    text-decoration: none;
    color:#225328;
    transition: text-decoration 0.2s;
    
}
.log-in-btn:hover{
    text-decoration:underline;
}
.have-acc{
     text-align: left;
   margin-top:15px;
   margin-left:3%;


}
.signup-btn{
    width:100px;
    background-color: rgb(151, 186, 255);
    color: rgb(23, 1, 74);
    padding: 4px;
    border-radius:20px;
    text-align:center;
    border:0.7px solid rgb(66, 66, 240);
    transition:box-shadow 0.2s;
    cursor: pointer;
    display:flex;
    justify-content:flex-end;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10%;
    margin-top:70px;

}

.signup-btn:hover{
     box-shadow: 0px 2px 5px rgb(190, 190, 190);
}

.sign-up-title{
  font-family:"Calistoga", serif;
  font-size:40px;
  color:#2F5F48;
  font-weight:100;
  text-align: center;
  margin-bottom: 0px;
}

.my-custom-input-class{
    width: 75%;
    margin: 10px auto;
    display: block;
    border:transparent;
    background-color:inherit;
    border-bottom: 1px solid #005b14;
    outline: none;
    transition: box-shadow 0.2s ease;
    font-family:"Merriweather", serif;
    margin-top: 30px;
  
  
    
}