@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wdth@0,112.5;1,112.5&display=swap');

.sign-up{
    border:1px solid black;
   width:450px;
   height:500px;
   display:grid;
   /*grid-template-rows: 100px 1fr 100px;*/
   text-align: center;
   border-radius: 50px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
   box-shadow:0px 0px 6px rgb(235, 235, 235);
   border: none;
   background-color:rgb(247, 237, 226);
   animation-name: slideUp;
   animation-duration: 1.30s;

}
input{
    width:250px;
    padding:7px 8px;
    margin-bottom: 28px;
    border-radius:4px;
    font-size: 14px;
}

.button{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.log-in{
    width:120px;
    padding:10px 10px;
    cursor:pointer;
    background-color: green;
    color: white;
    border-radius: 60px;
    border:none;
    transition:box-shadow 0.2s ;
    font-weight: bold;
}
.log-in:hover{
  box-shadow: 0px 2px 5px rgb(190, 190, 190);
}
a{
    color:white;
    text-decoration: none;
}
.register{
    width:100px;
    background-color: rgb(151, 186, 255);
    color: rgb(23, 1, 74);
    padding: 4px;
    border-radius:20px;
    text-align:center;
    border:0.7px solid rgb(66, 66, 240);
    transition:box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2px;
    font-weight: bold;

}

.register:hover{
     box-shadow: 0px 2px 5px rgb(190, 190, 190);
}
#profile-circle, #lock-icon,#mail-icon{
    font-size: 30px;
    margin-right:4px;
    margin-top:2px;
    color:rgb(19, 46, 153);
   
}
.align-col{
    display:flex;
    align-items: top;
    justify-content: center;
}
h2{
    font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  text-align: center;
  color: rgb(19, 46, 153);
  font-size: 30px;
   text-decoration-line: underline;
  text-decoration-style: double;
}
body{
    background: linear-gradient(-45deg, #C3DC88, #96C9A3, #96CCBE) ;
    animation: gradient 10s ease infinite;
    background-size: 250%;
}

@keyframes slideUp{
    from{transform:translateY(100%)}
}

@keyframes gradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}