{% extends "home/base.html" %}
{% load crispy_forms_tags %}
<html>
    {% block content %}
    <head>
        
    </head>

    <body>
       <div >
        <div>
            <form method="POST">
                {%csrf_token%}
             <fieldset class="form-group">
                <legend>Log In</legend>
                <div>
                 {{ form|crispy }}
                </div>
                 <button  type="submit">Log In</button>
             </fieldset>
            </form>
        </div>
        <div class="button">
            <button  ><a href= "{% url 'forum-signup' %}">Back to Sign Up</a></button>
            
       </div>
      
    </body>  
        {% endblock content %}
</html>