body{
    margin: 0;
    padding: 0;
}
.header{
  width:100%;
  display:flex;
  justify-content:flex-end;
  column-gap:15px;
  flex-wrap:wrap;
  height:145px;
  align-items:top;
  background-color: #FFFDF7;
  margin-bottom:0px;
  animation: floatFromBottom 1.2s ease-out 0s forwards;
}
@keyframes floatFromBottom{
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo{
  margin-top:25px;
  display:inline-block;
  margin-right: auto;
  margin-left:30px;
}

.log-in-btn{
  margin-top:15px;
  background-color:#2F5F48;
  color:#FFFDF7;
  border:none;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
  border-radius:20px;
  cursor:pointer;
  font-family:'Arial';
  height:40px;
  width:70px;
  line-height:40px;
  font-size:15px;
  transition:box-shadow 0.2s ease;
}
.log-in-btn:hover{
  box-shadow:0 0 8px rgba(101, 101, 101, 0.5);
}
.sign-up-btn{
   margin-top:15px;
  background-color:#3027da;
  color:#FFFDF7;
  border:none;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
  border-radius:25px;
  font-family:'Arial';
  height:40px;
  width:80px;
  line-height:40px;
  font-size:14px;
  cursor:pointer;
  transition:box-shadow 0.2s ease;
  margin-right:15px;

}
.sign-up-btn:hover{
  box-shadow:0 0 8px rgba(101, 101, 101, 0.5);
}

.footer{
 background-color: black;
 color: white;
  margin:0;
  padding: 20px;
  display:block;
  text-align: center;
}
.intro{
  width:100%;
  height:785px;
  background-color: #FFFDF7;
  margin-top:0px;
  margin-bottom:0px;
  display:flex;
  flex-direction:column;
  animation: fadeIn 1.2s ease-out 0s forwards;
}
.title{
  font-size:64px;
  font-family:"Calistoga", serif;
  color:#2F5F48;
  font-weight:100;
  margin-top:0px;
  margin-left:60px;
  margin-bottom:0px;
}
.about-us{
  font-size:16px;
  font-family:"Assistant", sans-serif;
  color:#2F5F48;
  margin-left:60px;
  max-width:45%;
  font-weight:400;
}
.explore-btn{
  margin-left:60px;
  border: 2.5px solid black;
  background-color:transparent;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
  border-radius:25px;
  font-family:'roboto',sans-serif;
  font-weight:bold;
  padding:8px 20px;
  color:black;
  width:180px;
  cursor:pointer;
  line-height:36px;
  font-size:16px;
  padding: 10px 20px;
  transition: padding 0.4s ease, letter-spacing 0.4s ease;
}
.explore-btn:hover{
  padding: 10px 40px;      /* Adds more "breath" to the sides */
    letter-spacing: 2px;
}

.siri-lab{
  margin-left:60px;
  margin-right:60px;
  object-fit:cover;
  height: 540px;
  margin-top:15px;
  border-radius:10px;
  margin-bottom:0px;
  animation: revealFromRight 1.2s ease-out 0.2s forwards;
  
}
@keyframes revealFromRight{
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.community-benefits{
  width:inherit;
  height:450px;
  background-color:#EAEDE5;
  padding:20px 60px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  flex:1 3;
  animation: fadeIn 1.2s ease-out 0.4s forwards;
}
.benefits-title{
  font-family:"Calistoga", serif;
  font-size:40px;
  color:#2F5F48;
  font-weight:100;
}
.benefits-quote{
  font-family:"Assistant", sans-serif;
  font-size:16px;
  color:#2F5F48;
  max-width:50%;
  margin-top:0px;
  font-weight:400;
}
.benefits-section{
  width:inherit;
  display:flex;
  justify-content:space-around;
 column-gap:30px;
 text-align:center;
}
.clm-knowledge,.clm-support,.clm-academic{
  background-color:#FFFDF7;
  border-radius:10px;
  padding:20px;
  flex:1;
  border:1.5px solid black;
}
.clm-knowledge{
animation: revealFromRight linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}
.clm-support{
  animation: revealFromRight linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
}
.clm-academic{
  animation: revealFromRight linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 40%;
  
}

@keyframes revealFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.reveal-on-scroll {
  animation: reveal-scroll linear;
  animation-timeline: view(); /* Animates based on visibility in viewport */
  animation-range: entry 10% cover 30%; /* Starts when entering, ends at 30% view */
}
.clm-title-knowledge,.clm-title-support,.clm-title-academic{
  font-family:"Calistoga", serif;
  font-size:20px;
  font-weight:20px;
  color:#2F5F48;
  font-weight:80px;
  padding:10px;
 
}
.clm-title-knowledge{
  border-radius:5px;
  background-color:#E5F2D2;
}
.clm-title-support{
  border-radius:5px;
  background-color:#D2E5F2;
}
.clm-title-academic{
  border-radius:5px;
  background-color:#dcd9ff;
}
.benefits-decription{
  font-family:"Assistant", sans-serif;
  font-size:15px;
  color:#2F5F48;
  margin-top:10px;
  text-align:left;
  font-weight:400;
}
.functions{
  padding:20px 60px;
  width:inherit;
}
.learning{
  width:inherit;
  height:100px;
  background-color:#1d4331;
  color:#FFFDF7;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  line-height:100px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  flex:1 3;
  font-size:24px;
 padding:20px 60px;
 margin-top:0px;
  margin-bottom:0px;
  font-weight:10px;
}
