body{
    background-color: #d2dfcd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.top_bar{
    display: flex;
    background-color:#8c9e88;
}

div.title h1{
    font-size: 150%;
    text-decoration-color: #3a4936;
    margin-left: 80px;
}

form.search_bar{
    border: 2px double #3a4936;
    border-radius:60px;
    align-items:center;
    background-color:#bbcca8;
    height: 35px;
    width: 500px;
    margin: auto;
}

form img{
    width:20px;
    height:20px;
}

nav.features{
    background-color: #8c9e88;
    width: 5%;
    height: 100%;
    position: fixed;
}

nav.features img{
    width:40px;
    height:40px;
    margin-left: 10px;
    padding-top: 10px;
}