<!--Anything same in different html files can put here-->
<html>
    <head>
        {% if title %}
        <title>MMU-Forum - {{title}}</title>
        {% else %}
        <title>MMU-Forum</title>
        {% endif %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">       
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Erica+One&family=Titan+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
        
    </head>
    <body>
        {% if messages %}
          {% for message in messages %}
           <div class="alert alert-{{message.tags}}">
            {{message}}
           </div>
          {% endfor %}
        {%endif%}
        {% block content %}{% endblock %}

    </body>
</html>